<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
    </configSections>
    <castle>
        <facilities>
            <facility id="Core" type="SvnToGit.Core.Facility, SvnToGit.Core"/>
            <facility id="FrontEnd" type="SvnToGit.FrontEnd.Facility, SvnToGit.FrontEnd"/>
        </facilities>
    </castle>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
